 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(1, 26, 26);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: palevioletred;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: -4px -4px 1px rgba(50,204,145),2px 2px 1px rgba(255,255,25);
    background: transparent;
    font-size: 20px;
    font-weight: bolder;
    color: #fae20d;
    cursor: pointer;
    margin: 10px;
}
#display{
    width: 100%;
}
form .display{
    display: flex;
    margin: 20px 0;
}
form .disply input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width:180px;
}
@media (max-width: 0px) 
{
    .calculator{
        display: flex;
        justify-content: center;
        align-items: center
    }
  
}

